body {
    margin: 10;  
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    color:#29335C;
    background-color: #fce7e6;
  }


#title {
  font-family: "rl-aqva", sans-serif;
  font-style: normal;
  font-size:50;
  padding-top: 100;
  text-align:center;
}

#subtitle {
  text-align: center;
}

h1 {
  font-size: 70;
  font-family:"rl-aqva", sans-serif;
  text-align:center;
}

h3 {
  text-align: center;
  font-weight:300;
}

span.highlight {
  color: #DD4B1A;
}

.container {
  width: 92%;
  margin:auto;
  height: 100%;
  border: 2px red;
}

*/ nav bar */

.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  font-size: 17;
  display: block; 
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #DD4B1A;
}

#nav-bar {
  display: flex;
  flex-direction:row;
}

.nav-item {
  display: inline-block;
  margin: auto;
  align-content: center;
}

.nav-item a{
  color:#29335C;
  text-decoration: none;
}

@media (orientiation:portrait){
  #content{
    width:100%;
    line-height: 1.5em;
    font-size: 1.5em;}
  #nav-bar{
     flex-direction: column}
}

