body {
    margin: 10;  
    font-family: "sofia-pro", sans-serif;
    font-weight: 400;
    color:#252525;
    background-color: #fce7e6;
  }


#title {
  font-family: "rl-aqva", sans-serif;
  font-size:600;
  text-align:center;
  padding-top: 100;
}

#subtitle {
  text-align: center;
}

h1 {
  font-size: 70;
  font-family:"rl-aqva", sans-serif;
  text-align:center;
}

h2{
  padding-top: 30;
}

h3 {
  text-align: left;
  font-weight:300;
  padding-left: 10%;
}

span.highlight {
  color: #e34a33;
}

#me {
  display: flex;
  align-items: center;
  justify-content: center
}

.container {
  margin:auto;
  max-width:fit-content;
  display: flex;
  border: 2px solid red;
  padding-right: 50%;
  background-size: contain;
}

/* this was from the Mozilla website */

aside {
  position:relative;
  width: 75%;
  float: right;
  box-shadow: inset 5px 0 5px -5px #e34a33;
  font-style: italic;
  font-weight: 300;
  margin: auto;
  margin-top: 13%;
  padding-right: 14%;
}

aside > p {
  margin: 0.5rem;}

#section{
  display:flex;
  flex-direction: row;
  width: 100%;
}

#sub{
  padding-right: 3%;
}

header{
  padding: 20;
  background-color: #fce7e6;
}

#crop{
  width: 100%;
  height: 100%;
  float: left;
}

#cutline{
  font-weight:100;
}

#story{
  margin:auto;
  padding-left: 10%;
  font-weight: 200;
  padding-right: 10%;
}

  /* nav bar stuff */ 

/* I got this from a portfolio I had made with a website building tool. */

.overlay {
  transition: 0.5s;
}

.overlay a {
  padding: 8px;
  display: block; 
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #e34a33;
}

#nav-bar {
  display: flex;
  flex-direction:row;
}

.nav-item {
  margin: auto;
}

.nav-item a{
  color:#252525;
  text-decoration: none;
}

@media (orientiation:portrait){
  #content{
    width:100%;
    line-height: 1.5em;
    font-size: 1.5em;}
  #nav-bar{
     flex-direction: column}
  #section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
